[submodule "qemu"]
	path = qemu
	url = https://github.com/gthvn1/qemu
[submodule "linux"]
	path = linux
	url = https://github.com/gthvn1/linux
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/gthvn1/buildroot
